

$wd-1 : 50px ;
$wd-2 : 100px ;

$clr-1 : hsl(10, 79%, 65%) ;
$clr-11 : hsla(10, 79%, 65%, 0.6) ;
$clr-2 : hsl(186, 34%, 60%) ;
$clr-22 : hsla(186, 34%, 60%, 0.6) ;
$clr-3 : hsl(25, 47%, 15%) ;
$clr-4 : hsl(28, 10%, 53%) ;
$clr-41 : hsla(28, 10%, 53%, 0.1) ;
$clr-5 : hsl(27, 66%, 92%) ;
$clr-6 : hsl(33, 100%, 98%) ;

$br-1 : 0.8rem; 
$pd-1 : 1rem ;
