@media (min-width:750px) {
    body {
        padding:unset;
        display: grid;
        place-content: center;

        .container {
            width: min(540px, 50vw);
        }
    }
}